* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}
body {
  background-image: url("..//images/body.jpg");
  background-size: cover;
  height: 100vh;
}
.container {
  position: relative;
  width: 1000px;
  height: 700px;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid gray;
  background-image: url("..//images/Battleback_snow2.png");
  background-size: cover;
}
.panel {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
}
.panelElem {
  margin-right: 50px;
  display: inline-block;
  color: aqua;
  line-height: 50px;
}
.sprite {
  background-image: url("..//images/sprite.png");
  width: 63px;
  height: 113px;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 400px;
  z-index: 1000;
}
.hit {

}
.spriteShoot {
  background-image: url("..//images/sprite3.png");
  width: 155px;
}
.spriteShootExplosion {
  background-image: url("..//images/sprite5.png");
  width: 155px;
}
.spriteThor {
  background-image: url("..//images/sprite4.png");
  width: 155px;
}
.bullet {
  width: 60px;
  height: 40px;
  background-image: url("..//images/fireball.png");
  background-size: cover;
  position: absolute;
  z-index: 1000;
}
.thunderclap {
  width: 948px;
  height: 101px;
  background-image: url("..//images/thor.png");
  position: absolute;
  z-index: 1000;
}
.explosionBullet {
  width: 58px;
  height: 64px;
  background-image: url("..//images/firebullet.png");
  position: absolute;
  z-index: 1000;
}
.explosion {
  width: 213px;
  height: 233px;
  position: absolute;
  background-image: url("..//images/explosion.png");
  background-position: -2769px 0;
  transform: translateY(-50%);
  z-index: 1000;
}
.magicShield {
  width: 56px;
  height: 73px;
  position: absolute;
  background-image: url("..//images/magic/shield-magic.png");
  background-position: -2769px 0;
  transform: translateY(30%);
  z-index: 1000;
}
.magicCure {
  width: 90px;
  height: 94px;
  position: absolute;
  background-image: url("..//images/magic/cure.png");
  background-position: -2769px 0;
  transform: translateY(-50%);
  z-index: 1000;
  transform: translateX(-20%);
}
.armagedon {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1001;
}
.enemyMedusaBullet {
  width: 50px;
  height: 12px;
  background-image: url("..//images/medusaBullet.png");
  position: absolute;
  z-index: 1000;
}
.enemyCyclopBullet {
  width: 50px;
  height: 50px;
  background-image: url("..//images/cyclopBullet.png");
  position: absolute;
  z-index: 1000;
}
.enemy {
  z-index: 3;
}
.enemyMummy {
  right: -100px;
  width: 123px;
  height: 167px;
  background-image: url("..//images/mummy1.png");
  position: absolute;
  background-position: -1107px 0;
}
.enemyMummy2 {
  transform: translateY(-34px);
  background-image: url("..//images/mummy2.png");
  height: 203px;
}
.enemyBehemoth {
  right: -100px;
  width: 270px;
  height: 264px;
  background-image: url("..//images/behemoth.png");
  position: absolute;
  background-position: -2436px 0;
}
.enemyBehemoth2 {
  background-image: url("..//images/behemoth2.png");
}
.enemyEnt {
  right: -100px;
  width: 216px;
  height: 215px;
  background-image: url("..//images/ent1.png");
  position: absolute;
  background-position: -1512px 0;
}
.enemyEnt2 {
  background-image: url("..//images/ent2.png");
}
.enemyHarpy {
  right: -100px;
  width: 174px;
  height: 169px;
  background-image: url("..//images/harpy.png");
  position: absolute;
  background-position: -696px 0;
}
.enemyHarpy2 {
  background-image: url("..//images/harpy2.png");
}
.enemyBlackKnight {
  right: -100px;
  width: 189px;
  height: 187px;
  background-image: url("..//images/black_knight.png");
  position: absolute;
  background-position: -2268px 0;
}
.enemyBlackKnight2 {
  background-image: url("..//images/black_knight2.png");
}
.enemyMedusa {
  right: -100px;
  width: 167px;
  height: 180px;
  background-image: url("..//images/medusa1.png");
  position: absolute;
  background-position: -1512px 0;
}
.enemyMedusa2 {
  background-image: url("..//images/medusa2.png");
}
.enemyCyclop {
  right: -100px;
  width: 157px;
  height: 207px;
  background-image: url("..//images/cyclop.png");
  position: absolute;
  background-position: -1512px 0;
}
.enemyCyclop2 {
  background-image: url("..//images/cyclop2.png");
}
