* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}
body {
  background-image: url("..//images/menu/body.jpg");
  background-size: cover;
  height: 100vh;
}
.portal {
  display: none;
  right: 20px;
  top: 50%;
  position: absolute;
  z-index: 2;
  width: 200px;
  height: 250px;
  background-image: url("..//images/portal.png");

  -ms-transform: translateY(-50%); /* IE 9 */
  -o-transform: translateY(-50%); /* Opera 10.5 */
  -moz-transform: translateY(-50%); /* Firefox 3.5 */
  -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
  transform: translateY(-50%);
}
.backToMenu {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
  padding: 7px;
  color: Aqua;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1500;
}
.spells {
  position: absolute;
  top: 0;
  right: 0;
}
.spell {
  width: 53px;
  height: 52px;
  background-image: url("..//images/menu/spells.png");
  display: inline-block;
}
.spellShield{
  background-position: -53px 0;
}
.spellMagicShoot{
  background-position: -106px 0;
}
.spellArmagedon{
  background-position: -159px 0;
}
.instructionsScreen {
  display: none;
  text-align: center;
}
.instruction {
  background-image: url("..//images/menu/spells.png");
  width: 53px;
  height: 52px;
  margin-top: 10px;
}
.instructionText {
  text-align: left;
  padding: 10px;
  margin: 20px 90px 12px 10px;
  color: white;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.2);
}
.spellsInstructions{
  display: inline-block;
  margin: 30px 0;
}
.bulletImages {
  display: inline-block;
  margin: 10px 20px;
}
.fireballImage {
  display: inline-block;
  height: 43px;
  width: 75px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("..//images/fireball.png");
}
.explosionImage {
  display: inline-block;
  height: 64px;
  width: 64px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("..//images/firebullet.png");
}
.thorImage {
  display: inline-block;
  height: 54px;
  width: 164px;
  background-size: cover;
  background-image: url("..//images/thor2.png");
}
.menu {
  position: relative;
  width: 1000px;
  height: 750px;
  margin: 0 auto;
  border: 2px solid black;
  margin-top: 5px;
  z-index: 1002;
  background-image: url("..//images/menu/menu_bg.jpg");
}
.scoreScreen {
  width: 100%;
  position: absolute;
  display: none;
}
.highscoreLists {
  display: inline-block;
  font-size: 20px;
  margin: 20px -2px;
  padding: 10px;
  width: 200px;
}
.highscoreItems {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  margin: 5px -2px;
  padding: 10px;
}
.listsContainer {
  text-align: center;
}
.gameOver {
  display: none;
  width: 100%;
  position: absolute;
  top: 50%;

  -ms-transform: translateY(-50%); /* IE 9 */
  -o-transform: translateY(-50%); /* Opera 10.5 */
  -moz-transform: translateY(-50%); /* Firefox 3.5 */
  -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
  transform: translateY(-50%);
}
.gameOverOptions {
  margin-top: 80px;
  text-align: center;
}
.overOptions {
  cursor: pointer;
  display: inline-block;
  margin: 0 100px;
  padding: 20px;
}
#inputName {
  background-color: rgba(0, 0, 0, 0.4);
  height: 50px;
  margin: 20px 30px;
  color: white;
  padding: 5px;
  font-size: 40px;
}
#saveResult {
  cursor: pointer;
  height: 71px;
}
#menuText {
  font-family: 'Amatic SC', cursive;
  position: absolute;
  right: 10%;
  top: 50%;
  cursor: pointer;

  -ms-transform: translateY(-50%); /* IE 9 */
  -o-transform: translateY(-50%); /* Opera 10.5 */
  -moz-transform: translateY(-50%); /* Firefox 3.5 */
  -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
  transform: translateY(-50%);
}
#tip {
  position: absolute;
  color: red;
  font-weight: normal;
  font-size: 12px;
  bottom: 2px;
  left: 36%;
}
.menuText {
  position: relative;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 15px;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  color: #eeeeee;
  padding: 1px 60px;
}
.back {
  position: absolute;
  width: 300px;
  right: 10%;
  top: 85%;
  display: none;
  cursor: pointer;
}
.difficultyLevel {
  text-align: center;
}
.difficulty {
  cursor: pointer;
  margin: 20px;
  text-align: center;
  display: inline-block;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 150px;
  padding: 5px 0;
}
.controlPanel {
  display: inline-block;
  height: 220px;
  position: relative;
}
.control {
  text-align: center;
  margin: 10px auto;
  width: 30px;
  color: white;
  font-family: sans-serif;
  border: 2px solid white;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
}
.controlContainer {
  margin-top: 20px;
  text-align: center;
}
.space {
  width: 100px;
  margin-bottom: 25px;
}
.controlDescription {
  text-align: left;
  padding: 5px;
  margin: 14px 90px 12px 10px;
  color: white;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.2);
}
.container {
  display: none;
  position: relative;
  width: 1000px;
  height: 700px;
  margin: 0 auto;
  margin-top: 5px;
  border: 1px solid black;
  background-image: url("..//images/Battleback_snow1.png");
  background-size: cover;
}
.panel {
  display: none;
  position: relative;
  margin: 0 auto;
  width: 1000px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
}
.panelElem {
  margin: 0 50px 0 10px;
  display: inline-block;
  color: aqua;
  line-height: 50px;
}
.sprite {
  background-image: url("..//images/sprite.png");
  width: 63px;
  height: 113px;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 400px;
  z-index: 1006;
}
#sound {
  cursor: pointer;
}
.optionsScreen{
  display: none;
}
.spriteShoot {
  background-image: url("..//images/sprite3.png");
  width: 155px;
}
.spriteShootExplosion {
  background-image: url("..//images/sprite5.png");
  width: 155px;
}
.spriteThor {
  background-image: url("..//images/sprite4.png");
  width: 155px;
}
.bullet {
  width: 60px;
  height: 40px;
  background-image: url("..//images/fireball.png");
  background-size: cover;
  position: absolute;
  z-index: 1000;
}
.thunderclap {
  width: 948px;
  height: 101px;
  background-image: url("..//images/thor.png");
  position: absolute;
  z-index: 1000;
}
.explosionBullet {
  width: 58px;
  height: 64px;
  background-image: url("..//images/firebullet.png");
  position: absolute;
  z-index: 1000;
}
.explosion {
  width: 213px;
  height: 233px;
  position: absolute;
  background-image: url("..//images/explosion.png");
  background-position: -2769px 0;
  z-index: 1009;

  -ms-transform: translateY(-50%); /* IE 9 */
  -o-transform: translateY(-50%); /* Opera 10.5 */
  -moz-transform: translateY(-50%); /* Firefox 3.5 */
  -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
  transform: translateY(-50%);
}
.magicShoot {
  width: 128px;
  height: 33px;
  background-image: url("..//images/magic/magic_shoot.png");
  background-size: cover;
  position: absolute;
  z-index: 1009;

  -ms-transform: translateX(-30%); /* IE 9 */
  -o-transform: translateX(-30%); /* Opera 10.5 */
  -moz-transform: translateX(-30%); /* Firefox 3.5 */
  -webkit-transform: translateX(-30%); /* Chrome, Safari, Opera */
  transform: translateX(-30%);
}
.magicShield {
  width: 56px;
  height: 73px;
  position: absolute;
  background-image: url("..//images/magic/shield-magic.png");
  background-position: -2769px 0;
  z-index: 1009;

  -ms-transform: translateY(30%); /* IE 9 */
  -o-transform: translateY(30%); /* Opera 10.5 */
  -moz-transform: translateY(30%); /* Firefox 3.5 */
  -webkit-transform: translateY(30%); /* Chrome, Safari, Opera */
  transform: translateY(30%);
}
.magicCure {
  width: 90px;
  height: 94px;
  position: absolute;
  background-image: url("..//images/magic/cure.png");
  background-position: -2769px 0;
  z-index: 1009;

  -ms-transform: translateX(-20%); /* IE 9 */
  -o-transform: translateX(-20%); /* Opera 10.5 */
  -moz-transform: translateX(-20%); /* Firefox 3.5 */
  -webkit-transform: translateX(-20%); /* Chrome, Safari, Opera */
  transform: translateX(-20%);
}
.armagedon {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1009;
  background-size: auto;
}
.enemyMedusaBullet {
  width: 50px;
  height: 12px;
  background-image: url("..//images/medusaBullet.png");
  position: absolute;
  z-index: 1000;
}
.enemyCyclopBullet {
  width: 50px;
  height: 50px;
  background-image: url("..//images/cyclopBullet.png");
  position: absolute;
  z-index: 1000;
}
.enemy {
  z-index: 3;
}
.enemyMummy {
  right: -100px;
  width: 123px;
  height: 167px;
  background-image: url("..//images/mummy1.png");
  position: absolute;
  background-position: -1107px 0;
}
.enemyMummy2 {
  transform: translateY(-34px);
  background-image: url("..//images/mummy2.png");
  height: 203px;

  -ms-transform: translateY(-34px); /* IE 9 */
  -o-transform: translateY(-34px); /* Opera 10.5 */
  -moz-transform: translateY(-34px); /* Firefox 3.5 */
  -webkit-transform: translateY(-34px); /* Chrome, Safari, Opera */
  transform: translateY(-34px);
}
.enemyBehemoth {
  right: -100px;
  width: 270px;
  height: 264px;
  background-image: url("..//images/behemoth.png");
  position: absolute;
  background-position: -2436px 0;
}
.enemyBehemoth2 {
  background-image: url("..//images/behemoth2.png");
}
.enemyEnt {
  right: -100px;
  width: 216px;
  height: 215px;
  background-image: url("..//images/ent1.png");
  position: absolute;
  background-position: -1512px 0;
}
.enemyEnt2 {
  background-image: url("..//images/ent2.png");
}
.enemyHarpy {
  right: -100px;
  width: 174px;
  height: 169px;
  background-image: url("..//images/harpy.png");
  position: absolute;
  background-position: -696px 0;
}
.enemyHarpy2 {
  background-image: url("..//images/harpy2.png");
}
.enemyBlackKnight {
  right: -100px;
  width: 189px;
  height: 187px;
  background-image: url("..//images/black_knight.png");
  position: absolute;
  background-position: -2268px 0;
}
.enemyBlackKnight2 {
  background-image: url("..//images/black_knight2.png");
}
.enemyMedusa {
  right: -100px;
  width: 167px;
  height: 180px;
  background-image: url("..//images/medusa1.png");
  position: absolute;
  background-position: -1512px 0;
}
.enemyMedusa2 {
  background-image: url("..//images/medusa2.png");
}
.enemyCyclop {
  right: -100px;
  width: 157px;
  height: 207px;
  background-image: url("..//images/cyclop.png");
  position: absolute;
  background-position: -1512px 0;
}
.enemyCyclop2 {
  background-image: url("..//images/cyclop2.png");
}
.blackScreen {
  display: none;
  position: relative;
  width: 1000px;
  height: 750px;
  margin: 0 auto;
  border: 2px solid black;
  margin-top: 20px;
  z-index: 1003;
  background-color: black;
}
.startText {
  display: none;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 60px;
  top: 60px;
  width: 580px;
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 34px;
}
.startScreen {
  background-size: cover;
  background-image: url("..//images/menu/burning.jpg");
}
.startAnimation {
  background-repeat: no-repeat;
  width: 213px;
  height: 233px;
  background-image: url("..//images/menu/bullet-explosion.png");
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;

  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -o-transform: translate(-50%, -50%); /* Opera 10.5 */
  -moz-transform: translate(-50%, -50%); /* Firefox 3.5 */
  -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
  transform: translate(-50%, -50%);
}
.startAnimationText {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  color: white;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;

  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -o-transform: translate(-50%, -50%); /* Opera 10.5 */
  -moz-transform: translate(-50%, -50%); /* Firefox 3.5 */
  -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
  transform: translate(-50%, -50%);
}
.selected {
  color: red;
}
#onMobile {
  display: none;
}
.hide {
  display: none;
}
.show {
  display: block;
}
@media (max-width: 999px) {
  #onMobile {
    position: absolute;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-size: 20px;
    color: white;
    display: block;
    line-height: 100vh;
    z-index: 1200;
  }
}
